html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fdfbff; /* cor de fundo geral */
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fef6f9;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

label {
    margin: 4px 0;
    font-size: 14px;
    color: #333;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.btn-buy {
    margin: 20px 0px 10px 0px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ff6f91;
    border: none;
    transition: 0.4s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #ff4f79;
}

.forms input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #fa8be7;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.forms input:focus {
    border: 2px solid rgb(224, 84, 178);
    outline: none;
}
